!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %title Ditty - A random collection of tunes
    %script{:type => 'text/javascript', :src => 'jquery-1.4.3.min.js'}
    %script{:type => 'text/javascript', :src => 'jquery.form.js'}
    %script{:type => 'text/javascript', :src => 'ditty.js'}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/style.css', :media => 'screen'}/
  %body
    #header
      %h1 Ditty
      #menu
        %ul#nav
          %li
            %a.new_ditty{:href => '/new'} New Ditty
          %li
            %a.close_all{:href => '#'} Close All
          %li
            %a.hotlink{:href => '#'} Hot Ditties
    #content
      #right
        #ditties
          - @ditties.each do |ditty|
            =format_ditty(ditty)
      #left
        .box
          %h2 Hot Ditties
          %ul#hotditties= @hot_ditty_list
        .box
          %div{:style => "font-size: 0.8em;"} Design based on a design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a>

