.ditty_edit
  %h3= (params['title']) ? "#{params['title']} (New)" : "New Ditty"
  %ul.edit_links
    %li
      %a{:rel => 'cancel', :href => "/"} cancel
    %li
      %a{:rel => 'create', :href => "/"} done
  %form.edit_links{:action => '/'}
    %input{:type => "text", :name => "ditty_title", :size => 60, :value => ((params['title']) ? params['title'] : '')}
    %br
    %textarea{:name => 'ditty_body', :cols => 60, :rows => 10}
